:root {
  --main-color: #100956;
  --secundary-color: #F8EB54;
  --box-color: #ffffff;
  --font-color: #000000;
  --font-image-color: #ffffff;

  --test-image-color: #D8D8D8;

  --border-radius-default: 15px;
  --shadow-default: 0px 0px 24px rgba(34, 41, 47, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  color: var(--letter-color);
  text-decoration: none;
}